<!DOCTYPE html>
<html>
  <head>
    <title>Charlita's Movie Appie!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Charlita's Movie Appie!</h1>
    </header>

    <div class="content">
      <%= yield %>
    </div>

    <footer>
      <p>
        Copyright &copy; 2021-<%= Time.now.year %>
      </p>
    </footer>
  </body>
</html>